nav,
main {
  padding: 24px;
}

nav {
  display: flex;
  background-color: #039be5;
}

nav a {
  text-decoration: none;
}

nav a h2 {
  color: #ffffff;
  margin: 0;
  margin-right: 50px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 4px;
  margin-top: 24px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 550px;
}

.card img {
  width: 200px;
  height: 200px;
}

.card-content {
  padding: 16px;
}

.card-content a {
  display: inline-block;
  margin-top: 12px;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
